Repository ndfined-crp/ayugram-desktop, pull requests merged in 2024-12, with the labels that each got.

#35 release: v5.8.6
  .github/workflows/treefmt.yml
  .github/workflows/update-flake-lock.yml
  .markdownlint.json
  default.nix
  flake.nix
  nix/sources.json
  nix/sources.nix
  treefmt.toml
Labels: enhancement, nixpkgs-update, flake-update, feature, medium-prior, in-review

#37 Revert "release: v5.8.6"
  .github/workflows/treefmt.yml
  .github/workflows/update-flake-lock.yml
  .markdownlint.json
  default.nix
  flake.nix
  nix/sources.json
  nix/sources.nix
  treefmt.toml
Labels: flake-update, high-prior, in-review, approved

#38 Fix release 5.8.3
  default.nix
  patch/cstring.patch
Labels: bugfix, medium-prior, approved
