Repository ndfined-crp/ayugram-desktop, pull requests merged in 2024-10, with the labels that each got.

#10 Merge master to release (v0.0.4)
  .github/workflows/treefmt.yml.disabled
  .gitignore
  .run/Build.run.xml
  .run/Cachix.run.xml
  .run/Dry.run.xml
  README.md
  default.nix
  flake.nix
  garnix.yaml
  lib/tg_owt.nix
  nix/sources.json
  patch/color_space.patch
  patch/desktop.patch
  patch/macos-opengl.patch
  patch/macos.patch
  patch/native_event.patch
  patch/scheme.patch
  treefmt.toml
Labels: enhancement, update

#11 edited README.md
  README.md
Labels: documentation, enhancement

#20 default: add fixed qtbase (Fixes #19)
  default.nix
  flake.lock
  nix/sources.json
Labels: dependencies

#23 Format repo with treefmt
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  .github/workflows/treefmt.yml
  .github/workflows/update-flake-lock.yml
  .markdownlint.json
  garnix.yaml
  nix/sources.json
  nix/sources.nix
  treefmt.toml
Labels: enhancement, low-prior, approved

#24 chore: code changes
  .github/labeler.yml
  .github/workflows/cachix.yml.bak
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  .github/workflows/treefmt.yml
  .github/workflows/treefmt.yml.disabled
  .github/workflows/update-flake-lock.yml
  .markdownlint.json
  garnix.yaml
  nix/sources.json
  nix/sources.nix
  treefmt.toml
Labels: enhancement, bugfix, feature, low-prior, approved, merged

#29 Fix flake.lock updating (aka fix qtbase dependency)
  .github/workflows/update-flake-lock.yml
  default.nix
  flake.lock
  nix/sources.json
  nix/sources.nix
Labels: enhancement, nixpkgs-update, bugfix, medium-prior
