Repository ndfined-crp/ayugram-desktop, pull requests merged in 2025-03, with the labels that each got.

#51 chore(lock): update flake lock
  flake.lock
Labels: automated, nixpkgs-update, flake-update, low-prior, in-review, dependencies

#52 chore(lock): update flake lock
  flake.lock
Labels: automated, nixpkgs-update, flake-update, low-prior, in-review, dependencies

#53 S0me1newithhand7s patch 1
  README.md
Labels: docs, in-review

#54 feat: bump ayugram to v5.12.3
  default.nix
  flake.lock
  lib/tg_owt.nix
  patch/tg_owt-pipewire-1.4.patch
  unwrapped.nix
Labels: automated, nixpkgs-update, flake-update, medium-prior, in-review, dependencies

#55 chore(lock): update flake lock
  flake.lock
Labels: automated, nixpkgs-update, flake-update, low-prior, in-review, dependencies

#56 chore(lock): update flake lock
  flake.lock
Labels: automated, nixpkgs-update, flake-update, low-prior, in-review, dependencies
